
<!-- html page for: check-state --> 

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>check_state</title>
    </head>

    <body>
        <h1>Advertisement Registration</h1>
        <h2>Check the state of the ad:</h2>

        <form method="post" action="/check_state" enctype="multipart/form-data">
            <p><label for="id">id:</label></p>
            <p><input type="text" id="id" name="id"></p>

            <p><input type="submit" name="action" value="Check" /></p>
        </form>    
    </body>
</html>    


